.container-blog-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blue-background-light;
  div {
    text-align: center;
    h4 {
      color: $blue-titoli-testi-light;
      font-weight: 600;
    }
    p {
      color: $blue-titoli-testi-light;
      font-style: italic;
    }

    @include respond-to(mobile) {
      min-height: 300px;
      div {
        max-width: 500px;
      }
    }
  }
  @include respond-to(tablet) {
    min-height: 400px;
    div {
      max-width: 500px;
      padding-bottom: 80px;
      padding-bottom: 70px;
      h4{
        margin: 0px;
      }
    }
  }
  @include respond-to(desktop) {
    height: 500px;
    margin-top: 40px;
    div {
      padding-bottom: 80px;
      max-width: 600px;
      h4{
        margin: 0px;
      }
    }
  }
}

.container-card-post {
  background-color: $yellow-background-light;
  box-shadow: 0 2px 2px rgba(47, 46, 46, 0.178);
  h5 {
    color: $yellow-titoli-testi-light;
    margin-bottom: 2px;
    font-weight: 700;
  }
  p:nth-child(2) {
    font-style: italic;
    padding: 0;
    margin: 0px 0px 5px 0px;
  }
  p:nth-child(3) {
    padding-bottom: 5px;
    font-weight: 500;
  }
  border: none;
  border-radius: 20px;
}

.container-blog-logo {
  position: relative;
  overflow: hidden;
  background: linear-gradient(
      180deg,
      rgba(96, 95, 95, 0.155),
      rgba(22, 22, 22, 0.349)
    ),
    url("/assets/img/bg-blog-mobile.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @include respond-to(tablet) {
    background: linear-gradient(
        180deg,
        rgba(96, 95, 95, 0.155),
        rgba(22, 22, 22, 0.349)
      ),
      url("/assets/img/bg-blog-tablet3.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  @include respond-to(desktop) {
    background: linear-gradient(
        180deg,
        rgba(96, 95, 95, 0.155),
        rgba(22, 22, 22, 0.349)
      ),
      url("/assets/img/bg-blog-tablet3.png");
    background-position: center;
    background-size: 65% auto;
    background-repeat: no-repeat;
  }
}
