.navbar {
  background-color: #FDFEFF;
  box-shadow: 0 2px 4px rgba(39, 39, 39, 0.1);
}
.navbar button {
  margin: 5px;
  width: 40px;
  height: 37px;
  border: none;
  box-shadow: 0 2px 2px rgba(47, 46, 46, 0.178);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EFF7F5;
}
.navbar button:focus {
  outline: none;
  box-shadow: 0 2px 2px rgba(47, 46, 46, 0.178);
  border: none;
}
.navbar button span {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath stroke='%231E4F80' stroke-width='1.1' d='M1 3h14M1 8h14M1 13h14'/%3E%3C/svg%3E");
}
.navbar .navbar-brand {
  color: #1E4F80;
}
.navbar .navbar-brand:hover {
  color: #4C749E;
}
.navbar .nav-link {
  color: #1E4F80;
}
.navbar .nav-link:hover {
  color: #FF5733;
}
.navbar .nav-link.active {
  color: #E91E63;
}
.navbar .nav-link.disabled {
  color: #C0C0C0;
}

@media (max-width: 599px) {
  .img-logo {
    width: 43px;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .img-logo {
    width: 60px;
  }
}
@media (min-width: 1025px) {
  .img-logo {
    width: 50px;
  }
}

footer {
  position: relative;
  background-color: #0F3B55;
  bottom: 0;
  width: 100%;
}
footer .list-inline-item {
  margin: 0 10px;
  font-size: 1.5rem;
}

.section-home {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-home div h1, .section-home div h2 {
  color: #415D7B;
  font-weight: 400;
}
.section-home div p {
  color: #29688C;
  padding-top: 20px;
}
@media (min-width: 600px) and (max-width: 1024px) {
  .section-home {
    min-height: 400px;
  }
  .section-home div {
    width: 500px;
  }
  .section-home div h1, .section-home div h2, .section-home div p {
    text-align: center;
  }
}
@media (min-width: 1025px) {
  .section-home {
    height: 600px;
  }
  .section-home div {
    width: 600px;
  }
  .section-home div h1, .section-home div h2, .section-home div p {
    text-align: center;
  }
}

.section-hero1 {
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1502006053053-bd3dd81c9e81?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.section-hero1 div h1 {
  color: white;
  font-weight: 600;
}
.section-hero1 div p {
  color: white;
}
@media (min-width: 600px) and (max-width: 1024px) {
  .section-hero1 {
    height: 400px;
  }
  .section-hero1 div {
    width: 500px;
  }
  .section-hero1 div h1, .section-hero1 div p {
    text-align: center;
  }
}
@media (min-width: 1025px) {
  .section-hero1 {
    height: 600px;
  }
  .section-hero1 div {
    width: 600px;
  }
  .section-hero1 div h1, .section-hero1 div p {
    text-align: center;
  }
}

.section-hero1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.619), rgba(0, 0, 0, 0.709));
  z-index: -1;
}

.section-hero1 .button-blue {
  background-color: #144866;
  border-radius: 25px;
  padding: 12px 17px;
  box-shadow: 0 2px 2px rgba(47, 46, 46, 0.178);
  color: white;
  transition: transform 0.3s ease;
}
.section-hero1 .button-blue:hover {
  transition: transform 0.3s ease;
  background-color: #4C749E;
  color: white;
  transform: scale(1.1);
}

.section-hero2 {
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1709651669999-57741c9bf085?q=80&w=1480&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
}
.section-hero2 div h1 {
  color: white;
  font-weight: 600;
}
.section-hero2 div p {
  color: white;
}
@media (min-width: 600px) and (max-width: 1024px) {
  .section-hero2 {
    height: 400px;
  }
  .section-hero2 div {
    width: 500px;
  }
  .section-hero2 div h1, .section-hero2 div p {
    text-align: center;
  }
}
@media (min-width: 1025px) {
  .section-hero2 {
    height: 600px;
  }
  .section-hero2 div {
    width: 600px;
  }
  .section-hero2 div h1, .section-hero2 div p {
    text-align: center;
  }
}

.section-hero2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.619), rgba(0, 0, 0, 0.709));
  z-index: -1;
}

.section-hero2 .button-yellow {
  background-color: #e3af1f;
  border-radius: 25px;
  padding: 12px 17px;
  box-shadow: 0 2px 2px rgba(47, 46, 46, 0.178);
  color: white;
  transition: transform 0.3s ease;
}
.section-hero2 .button-yellow:hover {
  transition: transform 0.3s ease;
  background-color: #F0A500;
  color: white;
  transform: scale(1.1);
}

.section-about-hero {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-about-hero div h1,
.section-about-hero div h2,
.section-about-hero div h3,
.section-about-hero div h4,
.section-about-hero div h5,
.section-about-hero div h6 {
  color: #415D7B;
  font-weight: 600;
}
.section-about-hero div p:nth-child(2) {
  font-style: italic;
  margin-bottom: 20px;
}
.section-about-hero div p {
  color: #29688C;
}
@media (min-width: 600px) and (max-width: 1024px) {
  .section-about-hero {
    min-height: 400px;
  }
  .section-about-hero div {
    width: 500px;
  }
}
@media (min-width: 1025px) {
  .section-about-hero {
    height: 600px;
  }
  .section-about-hero div {
    width: 600px;
  }
}

.section-about-generic {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-about-generic div h1,
.section-about-generic div h2,
.section-about-generic div h3,
.section-about-generic div h4,
.section-about-generic div h5,
.section-about-generic div h6 {
  color: #415D7B;
  font-weight: 600;
  padding-bottom: 20px;
}
.section-about-generic div p {
  color: #29688C;
}
.section-about-generic div ul li {
  color: #29688C;
}
.section-about-generic div div a {
  background-color: #144866;
  color: white;
  border-radius: 25px;
  padding: 12px 17px;
  box-shadow: 0 2px 2px rgba(47, 46, 46, 0.178);
  transition: transform 0.3s ease;
}
.section-about-generic div div a:hover {
  background-color: #4C749E;
  color: #333333;
  color: white;
  transform: scale(1.1);
}
@media (min-width: 600px) and (max-width: 1024px) {
  .section-about-generic {
    min-height: 400px;
  }
  .section-about-generic div {
    max-width: 500px;
  }
}
@media (min-width: 1025px) {
  .section-about-generic {
    height: 600px;
  }
  .section-about-generic div {
    max-width: 600px;
  }
}

.timeline-item {
  border-left: 2px solid #333333;
  padding-left: 15px;
  margin-bottom: 20px;
}

.timeline-date {
  font-weight: bold;
  margin-bottom: 5px;
}

.timeline-content {
  padding: 15px;
  border-radius: 5px;
}

.container-blog-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5078A8;
}
.container-blog-hero div {
  text-align: center;
}
.container-blog-hero div h4 {
  color: #FFFFFF;
  font-weight: 600;
}
.container-blog-hero div p {
  color: #FFFFFF;
  font-style: italic;
}
@media (max-width: 599px) {
  .container-blog-hero div {
    min-height: 300px;
  }
  .container-blog-hero div div {
    max-width: 500px;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .container-blog-hero {
    min-height: 400px;
  }
  .container-blog-hero div {
    max-width: 500px;
    padding-bottom: 80px;
    padding-bottom: 70px;
  }
  .container-blog-hero div h4 {
    margin: 0px;
  }
}
@media (min-width: 1025px) {
  .container-blog-hero {
    height: 500px;
    margin-top: 40px;
  }
  .container-blog-hero div {
    padding-bottom: 80px;
    max-width: 600px;
  }
  .container-blog-hero div h4 {
    margin: 0px;
  }
}

.container-card-post {
  background-color: #FFD700;
  box-shadow: 0 2px 2px rgba(47, 46, 46, 0.178);
  border: none;
  border-radius: 20px;
}
.container-card-post h5 {
  color: #333333;
  margin-bottom: 2px;
  font-weight: 700;
}
.container-card-post p:nth-child(2) {
  font-style: italic;
  padding: 0;
  margin: 0px 0px 5px 0px;
}
.container-card-post p:nth-child(3) {
  padding-bottom: 5px;
  font-weight: 500;
}

.container-blog-logo {
  position: relative;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(96, 95, 95, 0.155), rgba(22, 22, 22, 0.349)), url("/assets/img/bg-blog-mobile.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 600px) and (max-width: 1024px) {
  .container-blog-logo {
    background: linear-gradient(180deg, rgba(96, 95, 95, 0.155), rgba(22, 22, 22, 0.349)), url("/assets/img/bg-blog-tablet3.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1025px) {
  .container-blog-logo {
    background: linear-gradient(180deg, rgba(96, 95, 95, 0.155), rgba(22, 22, 22, 0.349)), url("/assets/img/bg-blog-tablet3.png");
    background-position: center;
    background-size: 65% auto;
    background-repeat: no-repeat;
  }
}

.section-contact {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-contact div h1 {
  color: #415D7B;
  font-weight: 600;
}
.section-contact div p {
  color: #29688C;
}
.section-contact ul, .section-contact li {
  color: #29688C;
}
.section-contact ul a, .section-contact li a {
  text-decoration: none;
}
@media (min-width: 600px) and (max-width: 1024px) {
  .section-contact div {
    width: 500px;
  }
}
@media (min-width: 1025px) {
  .section-contact div {
    width: 600px;
  }
}

@media (max-width: 599px) {
  .h-base {
    min-height: 92vh;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .h-base {
    min-height: 95vh;
  }
}
@media (min-width: 1025px) {
  .h-base {
    min-height: 100vh;
  }
  .h-base div {
    max-width: 600px;
  }
}

.container-yellow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFD700;
}
.container-yellow h1, .container-yellow h2, .container-yellow h3, .container-yellow h4, .container-yellow h5, .container-yellow h6 {
  color: #333333;
  font-weight: 600;
}
.container-yellow p {
  color: #333333;
}
.container-yellow div a {
  background-color: #333333;
  color: white;
  border-radius: 25px;
  padding: 12px 17px;
  box-shadow: 0 2px 2px rgba(47, 46, 46, 0.178);
  transition: transform 0.3s ease;
}
.container-yellow div a:hover {
  background-color: #444444;
  color: #333333;
  color: white;
  transform: scale(1.1);
}
@media (min-width: 600px) and (max-width: 1024px) {
  .container-yellow {
    min-height: 200px;
  }
  .container-yellow div {
    max-width: 500px;
  }
}
@media (min-width: 1025px) {
  .container-yellow {
    height: 600px;
  }
  .container-yellow div {
    max-width: 600px;
  }
}

.container-blue {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5078A8;
}
.container-blue h1, .container-blue h2, .container-blue h3, .container-blue h4, .container-blue h5, .container-blue h6 {
  color: #FFFFFF;
  font-weight: 600;
}
.container-blue p {
  color: #FFFFFF;
}
.container-blue ul li {
  color: #FFFFFF;
}
.container-blue div a {
  background-color: #144866;
  color: white;
  border-radius: 25px;
  padding: 12px 17px;
  box-shadow: 0 2px 2px rgba(47, 46, 46, 0.178);
  transition: transform 0.3s ease;
}
.container-blue div a:hover {
  background-color: #444444;
  color: #333333;
  color: white;
  transform: scale(1.1);
}
@media (min-width: 600px) and (max-width: 1024px) {
  .container-blue {
    min-height: 200px;
  }
  .container-blue div {
    max-width: 500px;
  }
}
@media (min-width: 1025px) {
  .container-blue {
    height: 600px;
  }
  .container-blue div {
    max-width: 600px;
  }
}

body {
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.prova {
  min-height: 100vh;
  width: 100%;
}

/*# sourceMappingURL=App.css.map */
