//header
$header-background-light:#FDFEFF;
$header-testi-light:#1E4F80;
$header-testi-hover-light:#4C749E;
$hamburger-background:#EFF7F5;
$haburger-line:#1E4F80;
//footer
$footer-background-light:#0F3B55;
$footer-testi-light:#FDFEFF;

//base
$base-background-light:#FFFFFF;
$base-titoli-light:#415D7B;
$base-testi-light:#29688C;

//blue-color
$blue-hero-button:#144866;
$blue-hero-button-hover:#4C749E;
$blue-background-light:#5078A8;
$blue-titoli-testi-light:#FFFFFF;
$blue-button-light:#144866;
$blue-button-hover-light:#4C749E;


//yellow-color
$yellow-hero-button:#e3af1f;
$yellow-hero-button-hover:#F0A500;
$yellow-background-light:#FFD700;
$yellow-titoli-testi-light:#333333;
$yellow-button-light:#333333;
$yellow-button-hover-light:#444444;


