@import 'layout/_header.scss';
@import 'layout/_footer.scss';
@import 'themes/_light.scss';
@import 'abstracts/_mixins.scss';


body {
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .prova{
    min-height: 100vh;
    width: 100%;
  }